@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
/*
	A. Mini Reset 
*/
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }


ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.Flip_btn {
	display: inline-block;
	margin-top: 70px; 
	font-size: 25px;
	font-weight: 700;
	padding: 0.1em 0.8em;
	text-align: center;
	-webkit-transform: rotate(20deg);
	-moz-transform: rotate(20deg);
	transform: rotate(20deg);
	font-family: "Indie Flower", serif;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.Flip_btn:hover {
	color: #16a085;
}

/* basic grid, only for this demo */


/* ///////////////////////////////////////////////////

PAPERBACK
Table of Contents

1. container
2. background & color
3. opening cover, back cover and pages
4. position, transform y transition
5. events
6. Bonus
	- Ribbon
	- Figcaption
7. mini-reset

/////////////////////////////////////////////////////*/

/*
	1. container
*/

.Flip_book {
	position: relative;
	width: 160px; 
	height: 220px;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	perspective: 1000px;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

/*
	2. background & color
*/

/* HARDCOVER FRONT */

.Flip_paperback_front {
	background-color: #000;
}

.Flip_paperback_front::after{
	background-image: -webkit-linear-gradient( -135deg, rgba(255, 255, 255, 0.45) 0%, transparent 100%);
	background-image: -moz-linear-gradient( -135deg, rgba(255, 255, 255, 0.45) 0%, transparent 100%);
	background-image: linear-gradient( -135deg, rgba(255, 255, 255, 0.45) 0%, transparent 100%);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.Flip_paperback_back {
	background-color: #333;
}

/* page */

.Flip_ruled_paper > li {
	background-color: #fff;
	background-image: -webkit-linear-gradient(rgba(200, 200, 200, 0.1) 0.1em, transparent 0.1em), -webkit-linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
	background-image: -moz-linear-gradient(rgba(200, 200, 200, 0.1) 0.1em, transparent 0.1em), -moz-linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
	background-image: -ms-linear-gradient(rgba(200, 200, 200, 0.1) 0.1em, transparent 0.1em), -moz-linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
	background-image: linear-gradient(rgba(200, 200, 200, 0.1) 0.1em, transparent 0.1em), linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
	background-size: 100% 0.6em;
	box-shadow: inset 0px -1px 2px rgba(50, 50, 50, 0.1), inset -1px 0px 1px rgba(150, 150, 150, 0.2);
	border-radius: 0px 10px 10px 0px;
}

/*
	3. opening cover, back cover and pages
*/

.Flip_paperback_front {
	-webkit-transform: rotateY(-38deg) translateZ(0px);
	-moz-transform: rotateY(-38deg) translateZ(0px);
	transform: rotateY(-38deg) translateZ(0px);
	z-index: 100;
}

.Flip_paperback_back {
	-webkit-transform: rotateY(-25deg);
	-moz-transform: rotateY(-25deg);
	transform: rotateY(-25deg);
}

.Flip_ruled_paper li:nth-child(1) {
	-webkit-transform: rotateY(-27deg);
	-moz-transform: rotateY(-27deg);
	transform: rotateY(-27deg);
}

.Flip_ruled_paper li:nth-child(2) {
	-webkit-transform: rotateY(-29deg);
	-moz-transform: rotateY(-29deg);
	transform: rotateY(-29deg);
}

.Flip_ruled_paper li:nth-child(3) {
	-webkit-transform: rotateY(-31deg);
	-moz-transform: rotateY(-31deg);
	transform: rotateY(-31deg);
}

.Flip_ruled_paper li:nth-child(4) {
	-webkit-transform: rotateY(-33deg);
	-moz-transform: rotateY(-33deg);
	transform: rotateY(-33deg);
}

.Flip_ruled_paper li:nth-child(5) {
	-webkit-transform: rotateY(-35deg);
	-moz-transform: rotateY(-35deg);
	transform: rotateY(-35deg);
}

/*
	4. position, transform y transition
*/

.Flip_paperback_front,
.Flip_paperback_back,
.Flip_paperback_front li,
.Flip_paperback_back li {
	border-radius: 2px 8px 8px 2px;
	position: absolute;
	top: 0;
	left: 0px;
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.Flip_paperback_front,
.Flip_paperback_back {
	-webkit-transform-origin: 0% 100%;
	-moz-transform-origin: 0% 100%;
	transform-origin: 0% 100%;
}

.Flip_paperback_front{
	-webkit-transition: all 0.5s ease, z-index 0.6s;
	-moz-transition: all 0.5s ease, z-index 0.6s;
	transition: all 0.5s ease, z-index 0.6s;
}

.Flip_paperback_front li img,
.Flip_paperback_back li img {
	border-radius: 2px 8px 8px 2px;
	position: absolute;
	top: 0;
	left: 0;
}

/* Ruled paper */

.Flip_ruled_paper,
.Flip_ruled_paper > li {
	position: absolute;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.Flip_ruled_paper {
	width: 98%;
	height: 98%;
	top: 1%;
	left: 1%;
	z-index: 10;
}

.Flip_ruled_paper > li {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.Flip_ruled_paper > li {
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	transform-origin: left center;
	-webkit-transition-property: transform;
	-moz-transition-property: transform;
	transition-property: transform;
	-webkit-transition-timing-function: ease;
	-moz-transition-timing-function: ease;
	transition-timing-function: ease;
}

.Flip_ruled_paper li:nth-child(1) {
	-webkit-transition-duration: 0.6s;
	-moz-transition-duration: 0.6s;
	transition-duration: 0.6s;
}

.Flip_ruled_paper li:nth-child(2) {
	-webkit-transition-duration: 0.6s;
	-moz-transition-duration: 0.6s;
	transition-duration: 0.6s;
}

.Flip_ruled_paper li:nth-child(3) {
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

.Flip_ruled_paper li:nth-child(4) {
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

.Flip_ruled_paper li:nth-child(5) {
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

/*
	5. events
*/

.Flip_book:hover > .Flip_paperback_front {
	-webkit-transform: rotateY(-125deg) translateZ(0px);
	-moz-transform: rotateY(-125deg) translateZ(0px);
	transform: rotateY(-125deg) translateZ(0px);
	z-index: 0;
}

.Flip_book:hover > .Flip_ruled_paper li:nth-child(1) {
	-webkit-transform: rotateY(-30deg);
	-moz-transform: rotateY(-30deg);
	transform: rotateY(-30deg);
	-webkit-transition-duration: 1.5s;
	-moz-transition-duration: 1.5s;
	transition-duration: 1.5s;
}

.Flip_book:hover > .Flip_ruled_paper li:nth-child(2) {
	-webkit-transform: rotateY(-35deg);
	-moz-transform: rotateY(-35deg);
	transform: rotateY(-35deg);
	-webkit-transition-duration: 1.8s;
	-moz-transition-duration: 1.8s;
	transition-duration: 1.8s;
}

.Flip_book:hover > .Flip_ruled_paper li:nth-child(3) {
	-webkit-transform: rotateY(-110deg);
	-moz-transform: rotateY(-110deg);
	transform: rotateY(-110deg);
	-webkit-transition-duration: 2.2s;
	-moz-transition-duration: 2.2s;
	transition-duration: 2.2s;
}

.Flip_book:hover > .Flip_ruled_paper li:nth-child(4) {
	-webkit-transform: rotateY(-115deg);
	-moz-transform: rotateY(-115deg);
	transform: rotateY(-115deg);
	-webkit-transition-duration: 1.8s;
	-moz-transition-duration: 1.8s;
	transition-duration: 1.8s;
}

.Flip_book:hover > .Flip_ruled_paper li:nth-child(5) {
	-webkit-transform: rotateY(-120deg);
	-moz-transform: rotateY(-120deg);
	transform: rotateY(-120deg);
	-webkit-transition-duration: 1.2s;
	-moz-transition-duration: 1.2s;
	transition-duration: 1.2s;
}

/* Cover colors */


/*
	6. Bonus
*/

/* Basic ribbon */

.Flip_ribbon{
	background: #c0392b;
	color: #fff;
	display: block;
	font-size: 0.7em;
	position: absolute;
	top: 11px;
	right: 1px;
	width: 40px;
	height: 20px;
	line-height: 20px;
	letter-spacing: 0.15em; 
	text-align: center;
	-webkit-transform: rotateZ(45deg) translateZ(1px);
	-moz-transform: rotateZ(45deg) translateZ(1px);
	transform: rotateZ(45deg) translateZ(1px);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	z-index: 10;
}

.Flip_ribbon::before,
.Flip_ribbon::after{
	position: absolute;
	top: -20px;
	width: 0;
	height: 0;
	border-bottom: 20px solid #c0392b;
	border-top: 20px solid transparent;
}

.Flip_ribbon::before{
	left: -20px;
	border-left: 20px solid transparent;
}

.Flip_ribbon::after{
	right: -20px;
	border-right: 20px solid transparent;
}

/* figcaption */



/* Media Queries */
@media screen and (max-width: 37.8125em) {
	.align > li {
		width: 100%;
		min-height: 440px;
		height: auto;
		padding: 0;
		margin: 0 0 30px 0;
	}

	.Flip_book {
		margin: 0 auto;
	}

	figcaption {
		text-align: center;
		width: 320px;
		top: 250px;
		padding-left: 0;
		left: -80px;
		font-size: 90%;
	}
}